.header{
    border: 3px solid rgb(37, 116, 79);
    background-color: rgb(37, 116, 79);
    position: fixed;
    width: 100%; 
    left: 0;
    top: 0;
    right: 0;
    line-height: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.footer{
    border: 3px solid rgb(37, 116, 79);
    background-color: rgb(37, 116, 79);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;   
}

.box {
    background-color: rgb(164, 216, 142);
    border: 2px solid rgb(37, 116, 79);
    box-sizing: content-box;
    /* margin: 50px; */
    margin-left: 25%;
    margin-right: 25%;
    padding: 25px;
    border-radius: 10px;
    display:inline-block;
}

.search {
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.top {
    font-size: 20px;
    font-family: initial;
    color: rgb(37, 116, 79);
    padding-bottom: 90px;
    margin-top: 60px;
    margin-left: 40px;
}

.more {
    border-color: rgb(37, 116, 79);
    color: rgb(37, 116, 79)n;
}

.more:hover {
    background-color: rgb(37, 116, 79);
    color: white;
}