.navigation a{
    color: rgb(81, 163, 98);
    font-size: 30px;
    text-decoration: none;
    /* font-style: italic; */
    /* display: inline-block; */
    width: 1500px;
    margin-right: 10px;
    margin-left: 10px;
}
.navigation{
    text-align: right;
}
.navigation a:hover{
    color: white;
    cursor: pointer;
    transition: color 400ms;
}

.text{
    color: rgb(37, 116, 79);
    font-size: x-large;
    text-align: justify;
    padding: 40px;
}

.content-contacts {
    width: 100%;
}

.contacts-style{
    font-size: 20px;
}

.signature-1{
    text-align: right;
    margin-top: 100px;
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: -30px;
}
.signature-2{
    text-align: right;
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 80px;
}

.photo-content{
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

 .flex-container {
    display: flex;
  }
  
  .flex-container > div {
   flex-grow: 1;
  } 

.photo-style{
    width: 300px;
}

.btn {
    border: 2px solid rgb(167, 231, 191);
    border-radius: 30px;
    background-color: rgb(167, 231, 191);
    font-style: italic;
    font-weight: bold;
    width: 250px;
    height: 35px;
    text-align: center;
    color: rgb(37, 116, 79);
    padding-top: 3px;
    display: block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 50px;
}

.more {
    border-color: rgb(37, 116, 79);
    color: rgb(37, 116, 79)n;
  }
  
  .more:hover {
    background-color: rgb(37, 116, 79);
    color: white;
  }

.top{
    font-size: 20px;
    font-family:initial;
    color: rgb(81, 163, 98);
    padding: 40px;
    margin-top: 60px;
}
