h1 { 
    color: rgb(81, 163, 98); 
    font-size: 50px;
    margin-left: 20px;
}

h2{
    text-align: center;
    color: rgb(164, 216, 142);
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
}

h3{
    font-size: 35px;
    text-align: center;
    color: rgb(37, 116, 79);
}

h4{
    color: rgb(81, 163, 98);
}